<body>
    <form>
        {% if edit %}
            <form action="{% url 'save_article' %}" method="get">
                <input type = "hidden" name="title" value="{{ article.title }}">
                <textarea name="content">{{ article.content }}</textarea>
                <input type = "submit" value="Save">
            </form>
        {% else %}
        <div>
            <a href="{% url 'home'}">[to top]</a>
            <a href="{% url 'edit' 'article.html'}">{'article'}</a>
        </div>
        <div>
        {{ article.content }}
        </div>
        {% endif %}
    </form>
</body>
