<body>
    <form>
        <h1>Wiki Engine </h1>
        <br>

        {% for article in articles %}
        <div class="article">
            <a href="{% url 'show' article.title %}">{{ article.title }}</a>
        </div>
        {% endfor %}

        <div>
            <h3>Create new</h3>
            <form action="{% url 'create_article' %}" method="get">
                <input type="text" name="title" placeholder="New article title">
                <input type="submit" value="Create">
            </form>
        </div>
    </form>
</body>